@import '../../../../styles/color.scss';

.navbar {
  width: 100%;
  height: 78px;
  transition: 0.5s ease-in-out;
  padding: 0 10px;
  position: fixed;
  background: transparent;
  z-index: 9;

  &.showBackground {
    background-color: $primary-color;
  }

  .wrapper {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;

    .logo-container {
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      font-family: sans-serif;
      gap: 0.5rem;
      cursor: pointer;

      p {
        letter-spacing: 4px;
        transition: all 0.5s ease;
        color: white;

        &:hover {
          letter-spacing: 8px;
          transition: all 0.5s ease;
        }
      }
    }

    svg {
      fill: $secondary-color;
      margin-right: 0.5rem;
    }

    .mobile-icon {
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        fill: $secondary-color;
        margin-right: 0.5rem;
      }
    }

    .menu {
      position: absolute;
      top: 78px;
      left: -100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 78px);
      width: 100%;
      transition: 0.5s all ease;
      background-color: $primary-color;

      &.isOpen {
        left: 0;
      }

      .menu-item {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        .menu-item-link {
          display: flex;
          justify-content: space-between;
          list-style: none;
          align-items: center;
          text-decoration: none;
          padding: 0;
          font-family: sans-serif;
          font-size: 0.8rem;
          font-weight: 300;
          cursor: pointer;
          transition: 0.5s all ease;
          white-space: nowrap;
          color: white;

          div {
            display: flex;
            align-items: center;
            gap: 20px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .wrapper {
      .mobile-icon {
        display: none;
      }

      .menu {
        position: initial;
        height: 100%;
        justify-content: space-between;
        list-style: none;
        top: initial;
        left: initial;
        width: initial;
        flex-direction: initial;
        align-items: initial;
        background-color: transparent;
        gap: 2rem;
        padding-right: 2rem;

        .menu-item {
          height: 100%;

          .menu-item-link {
            &:hover {
              color: $secondary-light-color;
            }

            div {
              svg {
                display: none;
              }
            }
          }

          .line-effect {
            display: inline-block;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 1px;
              bottom: -5px;
              left: 0;
              background: linear-gradient(
                270deg,
                $navbar-link-underline-1 33.07%,
                $navbar-link-underline-2 66.67%,
                $navbar-link-underline-3 100%
              );
              transform-origin: bottom left;
              transition: transform 0.2s ease-out;
            }

            &:hover::after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }
        }
      }
    }
  }
}
