// COLOR PALETTE
// APP
$app-background-color: #ffffff;
$text-color: #a3abb8;

// TEXT
$primary-color: #0a121e;
$primary-light-color: #5b68e1;
$secondary-color: #5b68e1;
$secondary-dark-color: #2b315b;
$secondary-light-color: #558eea;
$black-color: #181e37;
$terciary-light-color: #5ab8c7;
$terciary-dark-color: #263944;
$terciary-color: #2d4452;

// NAVAR LINK UNDERLINE
$navbar-link-underline-1: #558eea;
$navbar-link-underline-2: #558eea;
$navbar-link-underline-3: #558eea;

// JOKE CARD
$joke-card-background-color1: #1c202b;
$joke-card-background-color2: #303542;
$joke-card-border-begin-color1: $primary-light-color;
$joke-card-border-end-color1: $secondary-dark-color;
$joke-card-footer-background-color: #2f3557;
$joke-card-footer-background-color2: #2d4452;
$joke-card-footer-background-color3: #14344c;
$joke-card-border-begin-color2: $terciary-light-color;
$joke-card-border-end-color2: $terciary-dark-color;
$joke-card-border-begin-color3: #6fb7e7;
$joke-card-border-end-color3: #1c6697;
$joke-card-footer-color: #7781dd;
$joke-card-footer-color2: #5ab8c7;
$joke-card-footer-color3: #6fb7e7;
